.container{
    background-color: blue;
    width: 80vw;
    height: 80vh;
}
.box{
    background-color: aqua;
    width: 8vw;
    height: 8vh;
    /* transition-property: background-color, transform;
    transition-duration: 2s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out; */
    /* one more method to do this transition */
    transition: all 3s ease-in-out 2s;
}
.translate{
    transform: translateX(10vw) translateY(10vh);
    background-color: brown;
}