
.box{
    background-color: aqua;
}
.box1{
    color: blue;
    border: 2px solid black;
    height: 200px;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.box2{
    color: brown;
    border: 2px solid green;
    height: 50px;
}