h1{
    font-size: 60px;
    color: aqua;
    background-color: rgb(49, 62, 54);
    border: 2px solid black;
}
.rohit{
    color: red;
    background-color: yellow;
    border: 2px solid black;
}
.surya{
    color: burlywood;
    background-color: #4c0d0d;
    border: 2px solid black;
}
.pollard{
    color: aquamarine;
    background-color: blue;
    border: 2px solid black;
}
.bumrah{
    color: cyan;
    background-color: darkgreen;
    border: 2px solid black;
}
h2{
    text-decoration: underline;
    color: rgb(42, 10, 55);
}
*{
    margin: 0;
    padding: 0;
}