*{
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
}
nav{
    background-color: rgb(223, 70, 192);
    height: 80px;
}
.container{
    background-color: green;
    margin: 12px 34px;
    padding: 20px 23px;
    text-align: center;
}
main{
    background-color: black;
    color: white;
    margin: 30px;
    padding: 30px;
}
.box1{
    background-color: pink;
    height: 40vh;
    width: 45%;
    display: inline-block;
    margin: 0 12px;
}
.box2{
    background-color: blue;
    height: 40vh;
    width: 45%;
    display: inline-block;
    margin: 0 12px;
}
footer{
    background-color: bisque;
    height: 80px;
}
.text-box{
    padding: 34px;
    border: 2px solid white;
    margin: 50px 15vw;
    font-size: 2em;
    border-radius: 13px;
}
.orange-box{
    height: 32px;
    width: 32px;
    background: orange;
    position: fixed;
    bottom: 12px;
    right: 23px;
    border-radius: 60px;
}