/* img{
    filter: blur(5px);
} */

.img1{
    filter: brightness(100%) contrast(175%);
}

.img2{
    /* filter: sepia(); */
    filter: grayscale(50%);
    /* filter: drop-shadow(35px 45px  red); */
}

.img3{
    /* filter: invert(); */
    filter: opacity(0.5);
}