.boxes *{
    color: blue;
    border: 2px solid black;
}
.box:nth-child(2){
    background-color: red;
    margin: 12px;
    padding: 10px;
}
.box:nth-child(1){
    background-color: aqua;
    margin: 10px;
}
.box:nth-child(3){
    background-color: chartreuse;
}
.boxes::before{
    content: "Raj is a good boy.";
    margin: 10px;
    border: 2px solid green;
    background-color: yellow;
}
.box::first-letter{
    color: navy;
    font-size: 45px;
}